.container {
    max-width: 1024px;
}

.post-list {
    display: block;
}

.archive .post-tags-inline {
    display: block;
    padding-left: 2em;
}

.post-tags-inline {
    font-size: 0.8rem !important;
}
