@import '../themes/terminimal/sass/buttons';

@import '../themes/terminimal/sass/header';
@import '../themes/terminimal/sass/logo';
@import '../themes/terminimal/sass/main';
@import '../themes/terminimal/sass/post';
@import '../themes/terminimal/sass/pagination';
@import '../themes/terminimal/sass/footer';
@import 'custom';
